:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000; }

:root {
  --h1-font-size: 2.5rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --body-font-size: 1rem;
  --small-font-size: 0.6rem; }

:root {
  --header-color: hsl(258, 100%, 100%);
  --bg-red: hsl(360, 75%, 25%, 0.924); }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: sans-serif;
  font-size: var(--body-font-size); }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0; }

h1 {
  font-size: var(--h1-font-size); }

h2 {
  font-size: var(--h2-font-size); }

.header {
  width: 100%;
  height: 4.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  margin-top: 0; }
  .header__image {
    display: block;
    width: 4rem;
    margin: 0 auto;
    padding: 0.5rem 0; }

.banner {
  width: 100%;
  height: 400px;
  background: black;
  margin-top: 4.5rem;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  @media screen and (min-width: 75em) {
    .banner {
      height: 500px; } }
  .banner__image {
    position: absolute;
    display: block;
    width: 100%;
    height: 80%; }
  .banner__button, .banner__title {
    position: relative;
    color: white; }
  .banner__button {
    align-self: flex-start;
    display: block;
    background: #ff8000;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 2em;
    font-size: var(--small-font-size);
    line-height: 3em;
    padding: 0 1.5em;
    margin-top: 10em;
    margin-left: 8em; }
    .banner__button:hover {
      background: #e67300; }
    .banner__button:active {
      transform: scale(0.95); }
    @media screen and (min-width: 40em) {
      .banner__button {
        font-size: 0.7rem;
        margin-top: 8.5em;
        margin-left: 8.5em; } }
    @media screen and (min-width: 840px) {
      .banner__button {
        margin-left: 13em; } }
    @media screen and (min-width: 64em) {
      .banner__button {
        margin-left: 15em; } }
    @media screen and (min-width: 75em) {
      .banner__button {
        font-size: 0.9em;
        margin-top: 8em;
        margin-left: 15em; } }
  .banner__title {
    text-align: center;
    font-size: var(--h3-font-size); }
    @media screen and (min-width: 64em) {
      .banner__title {
        font-size: var(--h2-font-size); } }
    @media screen and (min-width: 75em) {
      .banner__title {
        font-size: var(--h1-font-size); } }
