.banner {
  width: 100%;
  height: 500px;
  background: yellow;
  margin-top: $header-height;
  padding-bottom: 1em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: relative;

  &__image {
    position: absolute;
    display: block;
    width: 100%;
    height: 500px;
  }

  &__button,
  &__title {
    position: relative;
    color: white;
  }

  &__button {
    align-self: flex-start;
    display: block;
    width: 16em;
    background: $button-bg;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 0.8em;
    font-size: var(--small-font-size);

    line-height: 2.5;
    padding: 0 1.5em;

    margin-top: 33%;
    margin-left: 15%;

    &:hover {
      background: darken($button-bg, 5);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &__title {
    text-align: center;
    font-size: var(--h3-font-size);
  }
}
