.banner {
  width: 100%;
  height: 400px;
  background: black;
  margin-top: $header-height;
  padding-bottom: 1em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: relative;

  @include from(xl) {
    height: 500px;
  }

  &__image {
    position: absolute;
    display: block;
    width: 100%;
    height: 80%;
  }

  &__button,
  &__title {
    position: relative;
    color: white;
  }

  &__button {
    align-self: flex-start;
    display: block;
    background: $button-bg;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 2em;
    font-size: var(--small-font-size-button);

    line-height: 3em;
    padding: 0 1.5em;

    margin-top: 10em;
    margin-left: 8em;

    &:hover {
      background: darken($button-bg, 5);
    }

    &:active {
      transform: scale(0.95);
    }

    @include from(m) {
      font-size: 0.7rem;
      margin-top: 8.5em;
      margin-left: 8.5em;
    }

    @include from(840px) {
      margin-left: 13em;
    }

    @include from(lg) {
      margin-left: 15em;
    }

    @include from(xl) {
      font-size: 0.9em;
      margin-top: 8em;
      margin-left: 15em;
    }
  }

  &__title {
    text-align: center;
    font-size: var(--h3-font-size);

    @include from(lg) {
      font-size: var(--h2-font-size);
    }
    @include from(xl) {
      font-size: var(--h1-font-size);
    }
  }
}
