$header-height: 4.5rem;
$logo-width: 4rem;
$button-bg: #ff8000;

$path: "../img/";

$breakpoints: (
  l: 960px
);

// Variables de apilamiento (Z-index)
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

:root {
  --h1-font-size: 2.5rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --body-font-size: 1rem;
  --small-font-size: 0.8rem;
}

//PALETA DE COLORES
:root {
  --header-color: hsl(258, 100%, 100%);
  --bg-red: hsl(360, 75%, 25%, 0.924);
}
