$header-height: 4.5rem;
$logo-width: 4rem;
$button-bg: #ff8000;

$path: "../img/";

$breakpoints: (
  s: 0,
  //todos los tamaños
    m: 40em,
  // 640px
    lg: 64em,
  // 1024px
    xl: 75em //1200px
);

// Variables de apilamiento (Z-index)
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

:root {
  --h1-font-size: 2.5rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --body-font-size: 1rem;
  --small-font-size: 0.6rem;
}

//PALETA DE COLORES
:root {
  --header-color: hsl(50, 100%, 100%);
  --text-color: hsl(100, 100%, 100%);
  --red-bg: hsl(360, 75%, 10%);
  --blue-bg: hsl(243, 100%, 10%);
}
